@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-1: #03257e;
  --theme-color-2: #c4d600;
  --theme-color-3: #3d3d3d;
  --bg-input: #f5fca6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--theme-color-1);
  font-size: 22px;
  font-weight: 900;
}
h2 {
  color: var(--theme-color-2);
  font-size: 20px;
  font-weight: 700;
}
h3 {
  color: var(--theme-color-3);
  font-size: 18px;
  font-weight: 700;
}
input {
  background-color: var(--theme-color-2);
}
input:focus {
  background-color: var(--bg-input);
}
button {
  background-color: #03257e;
}
